<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Pace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Ranklist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'community:home' %}">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'resources:home' %}">Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://127.0.0.1:8000/admin/">Admin Pannel</a>
                </li>

                {% block navitem %}

                {% endblock navitem %}


            </ul>

            {% if user.is_authenticated %}
            <form class="d-flex  me-2">
                <p class="text-white m-2">Hello , {{user.username}}</p>
                <a class="btn btn-outline-primary text-white" href="{% url 'logout' %}">Logout</a>
            </form>
            {% else %}

            <form class="d-flex me-2">
                <a class="btn btn-outline-primary text-white" href="{% url 'login' %}">Login</a>
            </form>
            {% endif %}

        </div>
    </div>
</nav>