{% extends 'home/base.html' %}

{% block content %}

<div class="container mt-3">
    <div class="row" style="justify-content: center; align-items: center;">
        <div class="col-md-8">
            <h4 class="text-center alert alert-info">Password Reset Complete</h4>
            <div class="card card-body">
                <p class="m-2 p-2">Your password has been set . You may go ahead and Log in now</p>
                <div>
                    <a href="{% url 'login' %}" class="btn btn-outline-primary m-2">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}