{% extends 'home/base.html' %}

{% block content %}

<div class="container mt-3">
    <div class="row" style="justify-content: center; align-items: center;">
        <div class="col-md-8">
            <h4 class="text-center alert alert-info">Password Reset Sent</h4>
            <div class="card card-body">
                <p class="m-2 p-2">We have emaild your instruction for setting your password , if an account with email
                    you enterd
                    exists , You should recieve them shortly</p>
                <p class="m-2 p-2">If you don't recieve an email, please make sure you've entered the address you
                    registered with , and check your spam folder</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}