{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}
{% block script %}

{% endblock script %}

{% block content %}
<div class="container">

    {% if request.user.is_staff %}
    <div class="row mt-4" style="justify-content: center; align-items: center;">
        <div class="col-md-10">
            <h4 class="alert alert-info text-center">Add New Notification</h4>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Add Notification" class="btn btn-primary">
            </form>
        </div>
    </div>
    {% endif %}
    <div class="row" style="justify-content: center; align-items: center;">
        <div class="col-md-10 mt-3">
            <h2 class="text-center m-2 p-2">Notifications</h2>
            <hr>

            <div class="list-group">

                {% for notification in notifications %}
                <a href="" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="m-1">{{notification.text}}</p>
                        <span class="m-1"><small>{{notification.timestamp | naturaltime}}</small></span>

                        {% if request.user.is_staff %}
                        <form action="{% url 'delete_notification' notification.id %}" method="POST"
                            class="d-inline m-1">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                        </form>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock content %}




<!-- <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Link with href
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button with data-bs-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div> -->